
.footer-top,.footer-bot{
	width:952px;
	margin:0 auto;
}
.footer-top{
	background:url(../../../common/images/image_16.jpg) no-repeat left 25px,
				url(../../../common/images/image_23.jpg) no-repeat 416px 139px;
	padding-bottom:16px;
}
.footer-top .content img{
	display: block;
	width:130px;
	height:133px;
}
.left,.aa{
	float:left;
	margin-top:26px;
}
#list li{
	font-size:12px;
	color:#967a3b;
	float:left;
	margin-bottom:14px;
	margin-right:8px;
	height:12px;
	line-height:12px;
	cursor:pointer;
}
#list .active{
	color:#f48d09;
}
.normal{
	color:#967a3b;
}
.content{
	width:130px;
	height:133px;
	overflow:hidden;
}
.aa span{
	display: inline-block;
	width:35px;
	text-align:center;
	font-size:12px;
	color:#366084;
}
.aa a{
	color:#87431c;
	font-size:11px;
	height:11px;
	line-height:11px;
}
.aa a:hover{
	color:#f48d09;
}
.footer-bot p{
	font-size:12px;
	color:#585858;
	height:47px;
	line-height:47px;
}
.footer-bot{position:relative;}
.footer-bot img{
	position:absolute;
	right:79px;
	top:0;
	height:47px;
}
