*{
	margin: 0;
	padding: 0;
}
.clearfix-after{
	display: block;
	height: 0;
	content: '';
	clear: both;
	visibility: hidden;
}
ul,li,p,dd,dt,h1,h2,h3,dl,dt,dd,label,form{
	display: block;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	font-family: "MicrosoftYaHei";
	background: #f7f2ec;
}
img{
	border:0;
}
.fixed{
	width: 73px;
	
	position: fixed;
	left: 0;
	bottom: 30px;
}
.fixed img{
	display: block;
	width: 73px;
	height: 73px;
}
