.main{width: 950px; margin: 0 auto; margin-bottom: 50px;}
.main h2,p{text-align: center; }
.main h2{color: #0e4752;}
.main p:first-of-type{font-size:12px ; margin: 35px 0 20px 0;}
.main p{margin-bottom: 20px; line-height: 22px;}
.main p span{font-weight: bold;}