.main{width: 950px; margin: 0 auto; margin-bottom: 50px;}
.main h2{text-align: center; font-size: 24px; color: #0e4752;}
.main h3{text-align: center; }

.main p{margin:10px 0; }
.main p span{color: red;}
.main p:nth-of-type(2){font-weight: bold; font-size: 14px;}
