.main{width: 950px; margin: 0 auto; margin-bottom: 50px;}
.main h2{text-align: center; color: #0e4752; font-size:24px; line-height: 38px;}
.main p{font-size: 16px; line-height: 22px; margin: 10px 0 15px 0; text-align: center;}
.main img{width: 950px;}
.main p span{font-weight: bold;}

