.main{width: 950px; margin: 0 auto; margin-bottom: 50px;}
.main h2{text-align: center; color: #0e4752; font-size:24px; line-height: 38px;}
.main p{margin-bottom: 20px; line-height: 22px; font-size: 12px; margin: 15px 0; text-align: center;}
.main p span{font-weight:bold ;}
