.main{width: 950px; margin: 0 auto; margin-bottom: 50px;}
.main h2{text-align: center; color: #0e4752; margin-bottom: 10px;}
.main .x{font-weight: bold; font-size:16px; margin: 20px 0;}
.main .blue{color:cornflowerblue;}
.main .center{text-align: center;}
